@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat&family=Philosopher&display=swap');
*{
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
#root{
  height: 100vh;
  background-color: #04011C;
}
body {
  margin: 0;
  background-color: #04011C;
}

