
.profilePage{
    background-color: #04011C;
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    width: 100vw;
}
.profileMenu{
    flex: 1;
    border-right: 5px solid white;
    min-height: 100vh;
    min-width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.profileMain{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    flex: 10;
    padding: 1%;
}
.profileTopContainer{
    color: #FFF;
    display: flex;
    flex-direction: row;
    flex: 1;
}
.profileTopContainer-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 4;
}
.profile-welcome-text{
    font-size: calc(0.5vw + 1.5vh + 0.9vmin);
    font-weight: bold;
    
}
#profile-buttons-div{
    display: flex;
}
#profile-button {
    width: 14vw;
    min-width: fit-content;
    height: 4rem;
    border-radius: 35px;
    font-size: calc(0.5vw + 0.9vh + 0.9vmin);
    color: #04011C;
}
.icon {
    height: 2rem;
    width: 2rem;
}
.profileTopContainer-right{
    flex: 1;
    left: 0;
    position: relative;
    align-self: center;
    font-weight: bold;
    font-size: calc(0.5vw + 0.9vh + 0.9vmin);
}
.profileBottomContainer{
    color: #FFF;
    display: flex;
    flex-direction: row;
    flex: 2;
}
.profileBottomContainer-left{
    flex:2;
    align-self: center;
}
.profileBottomContainer-left-tasks{
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.pagination {
    align-items: center;
    border-top: #FFF solid 1px;
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: right;
    list-style-type: none;
    position: relative;
    width: 100%;
    font-size: 1.5rem;
}
.pagination > li {
    cursor: pointer;
    margin-right: 2%;
}
.pagination__link--active{
    border: solid 1px #808e9b;
    border-radius: 40px;
    color: #808e9b;
}

.profileBottomContainer-left-text{
    padding-bottom: 2%;
    font-size: calc(0.5vw + 1.5vh + 0.9vmin);
    font-weight: bold;
}
.taskButtons{
    width: 100%;
}
.profileBottomContainer-right{
    flex: 1;
    display: flex;
    background-image: url('../../assets/profilePageBig.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.Toast{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
    max-height: 80vh;
    width: 100%;
}
.modify-delete-buttons-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}
label {
    text-align: center;
    font-size: 1.5em;
}
input {
    text-align: center;
}
input, textarea {
    border: 2px solid black;
    width: 50%;
    display: grid;
    align-self: center;
}
textarea{
    height: 20vh;
}
.popup-content {
    width: 60% !important;
    height: 60% !important;
}
.shareForm {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}
.shareForm > label {
    align-self: center;
    font-size: 2em;
}
.shareForm > select {
    align-self: center;
    width: 50vw;
    height: 10vh;
    text-align: center;
    font-size: calc(0.5vw + 0.9vh + 0.9vmin);
}
.go3958317564 {
    height: 100% !important;
}